.d-flex.justify-content-center
  .edit-profile-form-container
    .user-form-title Edit Profile
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      .mb-3
        = f.text_field :username, autofocus: true, id: "username" , placeholder: "User Name", class: "form-control"
      .mb-3
        = f.text_field :first_name, autofocus: true, id: "first-name" , placeholder: "First Name", class: "form-control"
      .mb-3
        = f.text_field :last_name, autofocus: true, id: "last-name" , placeholder: "Last Name", class: "form-control"
      .mb-3
        = f.email_field :email, autofocus: true, autocomplete: "sign-up-email", id: "email" , placeholder: "Email", class: "form-control"
      .mb-3
        = f.label :profile_pic, "Upload Profile Picture"
        = f.file_field :profile_pic, class: "form-control", id: "profile_pic"
      .mb-3
        = f.password_field :password, autocomplete: "new-password", id: "password" , placeholder: "Password (leave blank if you don't want to change it)", class: "form-control"
        - if @minimum_password_length
          %em= "#{@minimum_password_length} characters minimum"
      .mb-3
        = f.password_field :password_confirmation, autocomplete: "new-password", id: "password-confirmation" , placeholder: "Password Confirmation (leave blank if you don't want to change it)", class: "form-control"
      .mb-3
        = f.password_field :current_password, autocomplete: "current-password", id: "current-password" , placeholder: "Current Password (we need your current password to confirm your changes)", class: "form-control"
      .mb-3
        = f.submit "Update", class: "btn btn-success btn-wide"
      .mb-3
        = link_to "Unhappy? Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-wide"
      .mb-3
        = link_to "Back", :back, class: "btn btn-danger btn-wide"