.comment-layout
  .d-flex.justify-content-between
    .d-flex.flex-row.align-items-center
      .post-user-image
        - if comment.user.profile_pic.present?
          = image_tag comment.user.profile_pic.url, class: "img img-fluid img-thumb"
        - else
          = image_tag "/default-user.jpg", class: "img img-fluid img-thumb"
      .d-flex.flex-column
        .username-comment-bold= link_to comment.user.username, profile_path(comment.user.username)
        .distance-date= distance_of_time_posted_in_words(comment.created_at)
    .comment-delete
      - if comment.user.username == current_user.username
        = link_to post_comment_url(post_id: comment.post_id, id: comment.id), remote: true, method: :delete, class: "text-space delete-comment" do
          %i.fa.fa-trash
  .comment-content= comment.content