.post-card(id="post-item-#{post_index}")
  .post-text
    .d-flex.justify-content-between
      .d-flex
        .post-user-image
          - if post.user.profile_pic.present?
            = image_tag post.user.profile_pic.url, class: "img img-fluid img-thumb"
          - else
            = image_tag "/default-user.jpg", class: "img img-fluid img-thumb"
        .d-flex.flex-column
          .username-bold= link_to post.user.username, profile_path(post.user.username)
          .distance-date= distance_of_time_posted_in_words(post.created_at)
      .post-edit-delete
        - if post.user.username == current_user.username
          = link_to edit_post_path(id: post.id, post_index: post_index), class: "text-space edit-post", remote: true, "data-bs-toggle" => "modal", "data-bs-target" => "#edit-post-#{post_index}-modal" do
            %i.fa.fa-edit
          .modal.fade(id="edit-post-#{post_index}-modal" tabindex="-1" aria-labelledby="edit-post-title" aria-hidden="true")
            .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
              .modal-content
          = link_to post, method: :delete, data: { confirm: "Are you sure?" }, remote: true, class: "text-space delete-post" do
            %i.fa.fa-trash
    .caption= post.caption
  - if post.image.present?
    = image_tag post.image.url, class: "img img-fluid img-fill"

  -# Like Button
  .row.container-margin-top
    .col-6
      %div(id="like-unlike-#{post_index}")
        = render partial: "likes/like", locals: { post: post, post_index: post_index }
    .col-6
      .btn.btn-plain.btn-wide.btn-like-comment.btn-comment
        %i.far.fa-comment
        %span Comment

  -# Comment Section
  .comment-box
    .d-flex.justify-content-between
      %div(id="post-#{post_index}-like-count")
        = render partial: "likes/like_count", locals: { post: post, post_index: post_index }
      .comment-toggle(id="comment-toggle-#{post_index}") View Comments
    .comment-display.hidden
      %div(id="comment-display-post-#{post.id}")
        - post.comments.each_with_index do |comment, comment_index|
          = render partial: "comments/comment_display", locals: { comment: comment, comment_index: comment_index }
  .comment-form
    = render "comments/comment_form", post: post