.card.m-2
  .card-body
    .float-end
      - if can? :manage, event
        - unless event_ended?(event)
          = link_to edit_event_path(event), class: "me-2", remote: true, "data-bs-toggle" => "modal", "data-bs-target" => "#edit-event-#{index}-modal" do
            %i.fas.fa-edit
            %span.d-none.d-sm-inline Edit
          .modal.fade(id="edit-event-#{index}-modal" tabindex="-1" aria-labelledby="edit-event-title" aria-hidden="true")
            .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
              .modal-content
        = link_to event, method: :delete, data: { confirm: 'Are you sure?' } do
          %i.fas.fa-trash-alt
          %span.d-none.d-sm-inline Delete
    %h5.a.card-title(type="button" data-bs-toggle="modal" data-bs-target="#event-#{index}-modal")= event.name
    = render "layouts/event_modal", event: event, index: index
    .all-events-notifs
      = render "events/all_events_notifs", event: event
    - if can? :manage, event
      - if event_ended?(event)
        %p.card-text You successfully organized and ended this event. You may now delete it.
      - else
        %p.card-text You are organizing this event.
