.card.m-2
  .card-body
    .float-end
      - if can? :manage, event
        - unless event_ended?(event)
          = link_to edit_event_path(event), class: "me-2", remote: true, "data-bs-toggle" => "modal", "data-bs-target" => "#edit-event-#{index}-modal" do
            %i.fas.fa-edit
            Edit
          .modal.fade(id="edit-event-#{index}-modal" tabindex="-1" aria-labelledby="edit-event-title" aria-hidden="true")
            .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
              .modal-content
        = link_to event, method: :delete, data: { confirm: 'Are you sure?' } do
          %i.fas.fa-trash-alt
          Delete
    %h5.a.card-title(type="button" data-bs-toggle="modal" data-bs-target="#event-m#{index}-modal")= event.name
    = render "layouts/event_modal", event: event, index: "m#{index}"
    - if event_ended?(event)
      %p.card-text Event already ended. You may now delete this event.
    - else
      - if event_ongoing?(event)
        %p.card-text= "Event is now ongoing. Ends #{event_date_format(event.end_date)}."
      - else
        %p.card-text= "#{event_date_format(event.start_date)} - #{event_date_format(event.end_date)}"