%h2 All Events
= link_to "Add Event", new_event_path
= link_to "My Events", events_path
.d-flex.justify-content-evenly.flex-wrap
  - @events.each do |event|
    .card
      .card-body
        %h5.card-title= event.name
        %p.card-text= event.description
        %p.card-text= event.date
        %p= "#{event.attends.count} going"
        %p= "You are going to this event." if attendee(event)
        = link_to "Show", event_path(event)
        - if can? :manage, event
          = link_to 'Edit', edit_event_path(event)
          = link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' }
