.card.mt-3
  .card-body
    %ul#events-nav.nav.nav-tabs
      %li.nav-item
        %button(id="all-events" class="h4 nav-link #{"active" if params[:tab] == "all_events" || params[:tab].nil?}") All Events
      %li.nav-item
        %button(id="my-events" class="h4 nav-link #{"active" if params[:tab] == "my_events"}") My Events
      %li.nav-item
        %button(id="event-reminders" class="h4 nav-link #{"active" if params[:tab] == "event_reminders"}") Event Reminders
      .align-self-center.ms-auto.me-5
        = link_to new_event_path, class: "btn btn-maroon border-0", remote: true, "data-bs-toggle" => "modal", "data-bs-target" => "#new-event-modal" do
          %i.far.fa-calendar-alt
          Add Event
        #new-event-modal.modal.fade(tabindex="-1" aria-labelledby="new-event-title" aria-hidden="true")
          .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
            .modal-content
    %div(class="event-tab-modal all-events #{"active" if params[:tab] == "all_events" || params[:tab].nil?}")
      .d-flex.justify-content-evenly.flex-wrap.mt-3
        - if @events.count == 0
          %p No one organized an event yet, organize your own now!
        - else
          - @events.each_with_index do |event, index|
            = render "all_events", event: event, index: index
    %div(class="event-tab-modal my-events #{"active" if params[:tab] == "my_events"}")
      .d-flex.justify-content-evenly.flex-wrap.mt-3
        - if @user_events.count == 0
          %p You haven't organized any events yet.
        - else
          - @user_events.each_with_index do |event, index|
            = render "my_events", event: event, index: index
    %div(class="event-tab-modal event-reminders #{"active" if params[:tab] == "event_reminders"}")
      .d-flex.justify-content-evenly.flex-wrap.mt-3
        - unless @events.any? { |event| attendee(event) }
          %p You are not attending any events yet.
        - @events.each_with_index do |event, index|
          = render "event_reminders", event: event, index: index
