.news-feed-body
  .container
    .row
      .col-8
        .post-form
          = render "post_form"
        - if @posts.empty?
          .post-card
            .post-text
              .no-post-text No posts to show
        - else
          - @posts.each do |post|
            .post-card
              .post-text
                .d-flex.justify-content-between
                  .username-bold= link_to post.user.username, profile_path(post.user.username)
                  .post-edit-delete
                    - if post.user.username == current_user.username
                      = link_to "Edit", edit_post_path(post), class: "text-space"
                      = link_to "Delete", post, method: :delete, class: "text-space"
                .distance-date= distance_of_time_posted_in_words(post.created_at)
                .caption= post.caption
              - if post.image.present?
                = image_tag post.image.url, class: "img img-fluid"
              %button(type="button" data-bs-toggle="modal" data-bs-target="#likers-#{post.created_at.strftime("%M%L")}-modal")= post.likes.count
              .modal.fade(id="likers-#{post.created_at.strftime("%M%L")}-modal" tabindex="-1" aria-labelledby="likes" aria-hidden="true")
                .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
                  .modal-content
                    .modal-header
                      %h5#likes.modal-title Likes
                      %button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                    .modal-body
                      %ul
                        - post.likes.each do |liker|
                          %li= full_name(liker.user)
              .d-inline-block
                - if liker(post)
                  = button_to 'Unlike', post_like_path(post, liker(post)), method: :delete
                - else
                  = button_to 'Like', post_likes_path(post), method: :post
      .col-4
        .event-items
          .event-padding
            = link_to "Events", all_events_path, class: "event-title"
        .news-items
          .news-padding
            .news-title Latest News