.news-feed-body
  .container
    .row
      -# All Posts
      .col-8
        .post-form
          = render "post_form"
        - if @posts.empty?
          .post-card
            .post-text
              .no-post-text No posts to show
        - else
          = render partial: "post_display", collection: @posts, as: :post

      -# Sidebar
      .col-4
        -# Events Display
        .event-items
          .event-padding
            = link_to "Show All", events_path(tab: "all_events"), class: "float-end"
            .event-title Events
            = render "layouts/side_bar_events"
        -# Latest News Display
        .news-items.news-padding
          .d-flex.justify-content-between
            .news-header Latest News
            = link_to "See All", space_news_index_path
          #news-content