.news-feed-body
  - if @user_ordinary.empty?
    %h4= "No result for '#{@user_query}'"
  - else
    %h4= "Displaying #{pluralize(@user_ordinary.count, 'result')} for '#{@user_query}'"
    .container.d-flex.flex-wrap
      - @user_ordinary.each do |user|
        .search-result-card
          .d-flex
            .img-container
              - if user.profile_pic.present?
                = image_tag user.profile_pic.url, class: "img img-fluid img-search"
              - else
                = image_tag "/default-user.jpg", class: "img img-fluid img-search"
            .d-flex.flex-column
              .search-name= link_to user.full_name, profile_path(user.username)
              .search-username= user.username
              %div= "Joined #{distance_of_time_posted_in_words(user.created_at)}"
          .float-end
            - unless user == current_user
              - if current_user.following?(user)
                = link_to "Unfollow", relationship_path(id: current_user.id, user_id: user.id), method: :delete, class: "btn btn-maroon"
              - else
                = link_to "Follow", relationships_path(id: current_user.id, user_id: user.id), method: :post, class: "btn btn-light btn-outline"