.profile-body
  .container
    -# User Information
    .row.profile-container
      .col-3
        .d-flex.justify-content-center
          .profile-image
            - if @user.profile_pic.present?
              = image_tag @user.profile_pic.url, class: "img img-fluid img-profile"
            - else
              = image_tag "/default-user.jpg", class: "img img-fluid img-profile"
      .col-9
        .profile-full-name= @user.full_name
        .profile-username= @user.username
        .profile-stats
          %span.text-maroon= "#{pluralize(@user.posts.count, "Post")} |"
          %span.text-maroon= "#{@user.followed_users.count} Following |"
          %span.text-maroon= "#{pluralize(@user.follower_users.count, "Follower")}"
        .profile-buttons
          .btn.btn-maroon#relationships-btn(type="button" data-bs-toggle="modal" data-bs-target="#relationships-modal") Followers and Following
          - if @user == current_user
            = link_to "My Events", events_path(tab: "my_events"), class: "btn btn-maroon"
            = link_to "Edit Profile", edit_user_registration_path, class: "btn btn-maroon"
          - else
            - if current_user.following?(@user)
              = link_to "Unfollow", relationship_path(user_id: @user.id), method: :delete, class: "btn btn-maroon"
            - else
              = link_to "Follow", relationships_path(user_id: @user.id), method: :post, class: "btn btn-light"

    -# User Posts
    .row
      .col-8
        - if @user_posts.empty?
          .post-card
            .post-text
              .no-post-text No posts to show
        - else
          = render partial: "posts/post_display", collection: @user_posts, as: :post

      -# Sidebar
      .col-4
        -# Events Display
        - if @user == current_user
          .event-items
            .event-padding
              = link_to "See All", events_path(tab: "event_reminders"), class: "float-end"
              - if @user_events.any? { |event| attendee(event) }
                .event-title Events Reminder
                = render "layouts/side_bar_events"
              - else
                .event-title No attended events
        -# Latest News Display
        .news-items.news-padding
          .d-flex.justify-content-between
            .news-header Latest News
            = link_to "See All", space_news_index_path
          #news-content

= render "follow_modal"
