.profile-body
  .container
    .row.profile-container
      .col-2
      .col-10
        .profile-full-name= @user.full_name
        .profile-username= @user.username
        .profile-stats
          %scan.text-maroon= "#{pluralize(@user.posts.count, "Post")} |"
          = link_to "#{@user.followed_users.count} Following | #{pluralize(@user.follower_users.count, "Follower")}", relations_path(@user)
        .profile-buttons
          - if @user == current_user
            = link_to "My Events", events_path, class: "btn btn-maroon"
            = link_to "Edit Profile", edit_user_registration_path, class: "btn btn-maroon"
          - unless @user == current_user
            - if current_user.following?(@user)
              = link_to "Unfollow", relationship_path(user_id: @user.id), method: :delete, class: "btn btn-maroon"
            - else
              = link_to "Follow", relationships_path(user_id: @user.id), method: :post, class: "btn btn-maroon"
    .row
      .col-8
        -if @user_posts.empty?
          .post-card
            .post-text
              .no-post-text No posts to show
        - else
          - @user_posts.each do |post|
            .post-card
              .post-text
                .d-flex.justify-content-between
                  .username-bold= link_to @user.username, profile_path(@user.username)
                  .post-edit-delete
                    - if post.user.username == current_user.username
                      = link_to "Edit", edit_post_path(post), class: "text-space"
                      = link_to "Delete", post, method: :delete, class: "text-space"
                .distance-date= distance_of_time_posted_in_words(post.created_at)
                .caption= post.caption
              - if post.image.present?
                = image_tag post.image.url, class: 'img img-fluid'
              %button.likers-btn= post.likes.count
              .likers-modal.d-flex.justify-content-center.align-items-center
                .likers-modal-inner.p-3
                  Likes
                  %button.close-likers-btn.float-end X
                  %ul
                    - post.likes.each do |liker|
                      %li= full_name(liker.user)
              .d-inline-block
                - if liker(post)
                  = button_to 'Unlike', post_like_path(post, liker(post)), method: :delete
                - else
                  = button_to 'Like', post_likes_path(post), method: :post
      .col-4
        .event-items
          .event-padding
            - if true
              .event-title No attended events
            - else
              .event-title Events Reminders
        .news-items
          .news-padding
            .news-title Latest News