-# Event Modal
.event-modal.modal.fade(id="event-#{index}-modal" tabindex="-1" aria-labelledby="event" aria-hidden="true")
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      .modal-header
        %h2#event.modal-title= event.name
        %button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
      .modal-body
        %ul#event-details-nav.nav.nav-tabs.mb-3
          %li.nav-item
            %button.nav-link.active Details
          %li.nav-item
            %button.nav-link Attendees
        .event-details-modal.active
          %p= "#{event_date_format(event.start_date)} - #{event_date_format(event.end_date)}"
          %p= event.description
          %p= "Organizer: #{full_name(event.user)}"
          %p= "Number of Attendees: #{event.attends.count}"
          - if event_ended?(event)
            - if can? :manage, event
              %p You successfully organized and ended this event. You may now delete it.
            - else
              %p Event already ended.
          - else
            - unless can? :manage, event
              = render "layouts/attend", event: event
        .event-details-modal.attendees-modal
          = render "layouts/attendees", event: event
